.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog{
    position: relative;
    background-color: white;
    height: 30%;
    width: 40%;
}

.header{
    background-color: black;
    color: white;
    width: 100%;
}