<div fxLayout="column" class="window" fxLayoutAlign="center center" >
    <div style="width: 95%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
        <a routerLink="/" skipLocationChange (click)="clearDetails()"><button type="button">Back</button></a>
        <h2>You are chatting with {{selectedUser.clientName}}</h2>
    </div>
    <div class="message-container">
        <div [class.alignitem]="selectedUser.clientID == message.sentBy" fxLayout="column" fxLayoutAlign="center start" *ngFor="let message of $messages | async">
            <p class="item" [class.styledItem]="selectedUser.clientID == message.sentBy" >{{message.value}}</p>
        </div>
    </div>
    <form fxLayoutAlign="center center" [formGroup]="form" (ngSubmit)="onSubmit(); $event.preventDefault();">
        Message:<input type="text" formControlName="message">
        <input (click)="onSubmit(); $event.preventDefault();" type="submit" value="Send">
    </form>
    <span style="color: red;" *ngIf="form.dirty && form.controls.message.hasError('required')">Please enter a message to send</span>
</div>